fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
email-validator
requests
httpx
pandas
numpy
scikit-learn
torch==2.13.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
chromadb
PyMuPDF
ollama
pypdf
