.sidebar{

width:260px;
height:100vh;

background:#202123;

color:white;

padding:20px;

display:flex;
flex-direction:column;

box-sizing:border-box;

}


.sidebar h2{

margin-bottom:25px;

}



.new-chat{

background:#10a37f;

color:white;

border:none;

padding:12px;

border-radius:8px;

font-size:15px;

cursor:pointer;

margin-bottom:25px;

}



.new-chat:hover{

opacity:0.9;

}



.recent-title{

font-size:14px;

color:#aaa;

margin-bottom:15px;

}



.history{

overflow-y:auto;

flex:1;

}



.chat-item{

padding:12px;

border-radius:8px;

cursor:pointer;

margin-bottom:8px;

font-size:14px;

}



.chat-item:hover{

background:#343541;

}



.empty{

color:#aaa;

font-size:14px;

}



.topics{

border-top:1px solid #444;

padding-top:15px;

font-size:14px;

}



.topics div{

padding:8px 0;

color:#ddd;

}



.sidebar-bottom{

margin-top:auto;

border-top:1px solid #444;

padding-top:15px;

}



.sidebar-bottom button{

width:100%;

padding:10px;

background:#343541;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}


.sidebar-bottom button:hover{

background:#444654;

}